@model IEnumerable<GreenBears.VideoTuts.Core.Entities.Video>

@{
    ViewBag.Title = "ListVideosUnnaproved";
}

<h2>ListVideosUnnaproved</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Views)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAproved)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Views)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAproved)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditVideos", new { id=item.ID }) |
            @Html.ActionLink("Delete", "DeleteVideos", new { id = item.ID }) |
            @Html.ActionLink("Aproove", "AprooveVideos", new { id = item.ID })
        </td>
    </tr>
}

</table>
